{
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 160,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}