.addButton {
    width: 120px;
    height: 40px;
    color: rgba(24, 144, 255, 1);
    border-radius: 5px;
    border: 1px solid rgba(24, 144, 255, 1);
    margin-right: 15px;
}

.deleteButton {
    width: 120px;
    height: 40px;
    color: rgba(245, 34, 45, 1);
    border-radius: 5px;
    border: 1px solid rgba(245, 34, 45, 1);
    margin-right: 15px;
}

.CreateArticleButton {
    height: 30px;
    width: 110px;
    background-color: white;
    border: 1px solid rgba(82, 196, 26, 1);
    color: gba(82, 196, 26, 1);
    margin-right: 10px;
    border-radius: 5px;
}
