.headPanel {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
}

.headPanel__link {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.headPanel__link:hover {
    cursor: pointer;
    color: orange;
}

.headPanel__button {
    min-width: 110px;
    height: 50px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: color 0.5s;
    background-color: white;
    margin-right: 10px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

.headPanel__button:hover {
    color: rgba(82, 196, 26, 1);
    border: 1px solid rgba(82, 196, 26, 1);
    cursor: pointer;
}

.headPanel__button:focus {
    color: rgba(82, 196, 26, 1);
    border: 1px solid rgba(82, 196, 26, 1);
}

.headPanel__buttonLastChild {
    margin-right: 20px;
}

.headPanel__ProfileImage {
    width: 46px;
    height: 46px;
}

.headPanel__ProfileLink {
    display: flex;
    align-items: center;
}

.headPanel__profileName {
    font-size: 18px;
    line-height: 28px;
}
